<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

	<sql id="searchOption">
		 <if test="search_option == '0'.toString()">
	          WHERE NAME LIKE '%' || #{keyword} || '%'
	             OR SUBJECT LIKE '%' || #{keyword} || '%'
	     </if>
	     <if test="search_option == '1'.toString()">
	          WHERE SUBJECT LIKE '%' || #{keyword} || '%'
	     </if>
	     <if test="search_option == '2'.toString()">
	          WHERE NAME LIKE '%' || #{keyword} || '%'
	     </if>
	</sql>
	

	<!-- 전체 게시글 수 조회 -->
	<select id="totalCount" resultType="int" parameterType="map">
		SELECT COUNT(*) AS CNT 
          FROM (SELECT ROWNUM AS R_NUM, B.*
          
                  FROM (SELECT BOARD_IDX, SUBJECT, NAME, B.REGDATE, HIT
                          FROM BOARD B, MEMBER M
                         WHERE B.MEMBER_ID = M.ID 
            	         ORDER BY STATUS DESC, BOARD_IDX DESC
		               ) B
		               <include refid="searchOption"/>
        	   )
	</select>


	<!-- 페이지에 표시할 데이터 조회
		parameterType="Map" : begin, end 값 전달 용도
		key-value 형태의 Map 사용 바인드변수명 key가 됨 -->
	<select id="list" resultType="com.bitwork.board.vo.BoardVO" parameterType="map">
		SELECT *
          FROM (SELECT ROWNUM AS R_NUM, B.*
                  FROM (SELECT BOARD_IDX, SUBJECT, NAME, TO_CHAR(B.REGDATE, 'YYYY-MM-DD') AS REGDATE, HIT, CMT_COUNT
                          FROM (SELECT B.BOARD_IDX, STATUS, SUBJECT, B.MEMBER_ID, REGDATE, HIT, COUNT(CMT_IDX) AS CMT_COUNT
                                  FROM BOARD B LEFT JOIN COMMENTS C ON B.BOARD_IDX = C.BOARD_IDX
                                 GROUP BY B.BOARD_IDX, STATUS, SUBJECT, B.MEMBER_ID, REGDATE, HIT) B, MEMBER M 
                                 WHERE B.MEMBER_ID = M.ID
                                 ORDER BY STATUS, BOARD_IDX DESC
                       ) B   
                       <include refid="searchOption"/>
               )
         WHERE R_NUM BETWEEN #{begin} AND #{end}	 
	</select>
	
	
	<!-- 게시글 하나 조회 (BOARD_IDX 값으로) -->
	<select id="one" resultType="com.bitwork.board.vo.BoardVO" parameterType="string">
		SELECT B.*
          FROM (SELECT BOARD_IDX, MEMBER_ID, NAME, POSITION, HIT, B.REGDATE, STATUS, SUBJECT, CONTENT, B.FILE_NAME, B.ORI_NAME
                  FROM BOARD B, MEMBER M
                 WHERE B.MEMBER_ID = M.ID
               ) B
         WHERE BOARD_IDX = #{boardIdx}	
	</select> 
	
	
	<!-- 게시글 입력 -->
	<insert id="insert" parameterType="com.bitwork.board.dto.BoardWriteForm">
		INSERT INTO BOARD 
			   (BOARD_IDX, MEMBER_ID, STATUS, SUBJECT, CONTENT, FILE_NAME, ORI_NAME)
		VALUES (BOARD_SEQ.NEXTVAL, #{memberId}, #{status}, #{subject}, #{content}, #{fileName}, #{oriName})
	</insert>
	
	<select id="currval" resultType="int">
		SELECT BOARD_SEQ.CURRVAL FROM DUAL
	</select>
	
	
	<!-- 게시글 수정  (파일 변동 있을 때)-->
	<update id="update_file" parameterType="com.bitwork.board.dto.BoardUpdateForm">
		UPDATE BOARD 
		   SET STATUS = #{status},
		   	   SUBJECT = #{subject},
		   	   CONTENT = #{content},
		   	   FILE_NAME = #{fileName},
		   	   ORI_NAME = #{oriName}
		 WHERE BOARD_IDX = #{boardIdx}		
	</update>
	
	<!-- 게시글 수정  (파일 변동 없을 때)-->
	<update id="update_onlyText" parameterType="com.bitwork.board.dto.BoardUpdateForm">
		UPDATE BOARD 
		   SET STATUS = #{status},
		   	   SUBJECT = #{subject},
		   	   CONTENT = #{content}
		 WHERE BOARD_IDX = #{boardIdx}		
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="delete" parameterType="string">
		DELETE FROM BOARD WHERE BOARD_IDX = #{boardIdx}		
	</delete>
	
	<!-- 조회수 1증가 처리 -->
	<update id="hit" parameterType="int">
		UPDATE BOARD
		   SET HIT = HIT + 1
		 WHERE BOARD_IDX = #{boardIdx}	
	</update>
	
	
	
	<!-- ===== 댓글처리 ===== -->
	<!-- 댓글 갯수 구하기 -->
	<select id="getCmtCount" parameterType="int">
	SELECT COUNT(*) AS CNT 
      FROM COMMENTS
     WHERE BOARD_IDX = #{boardIdx}
	</select>
	
	
	<!-- 게시글에 작성된 댓글 조회 -->
	<select id="cmtList" parameterType="string" resultType="com.bitwork.board.vo.CommentsVO">
		SELECT *
          FROM (SELECT CMT_IDX, MEMBER_ID, NAME, POSITION, CMT_CONTENT, CMT_DATE, BOARD_IDX
                  FROM COMMENTS C, MEMBER M
                 WHERE C.MEMBER_ID = M.ID
               )
         WHERE BOARD_IDX = #{boardIdx}
         ORDER BY CMT_IDX DESC
	</select>
	
	
	<!-- 댓글입력 -->
	<insert id="cmtInsert" parameterType="com.bitwork.board.vo.CommentsVO">
		INSERT INTO COMMENTS
		       (CMT_IDX, MEMBER_ID, CMT_CONTENT, BOARD_IDX)
        VALUES (COMMENTS_SEQ.NEXTVAL, #{memberId}, #{cmtContent}, #{boardIdx})
	
	</insert>
	
	<!-- 댓글 삭제 -->
	<delete id="cmtDelete" parameterType="string">
		DELETE FROM COMMENTS WHERE CMT_IDX = #{cmt_idx}	
	</delete>

	<!-- 최근 4개의 글 가져오기 -->
	<select id="lastNormal" resultType="com.bitwork.board.vo.BoardVO">
		SELECT *
		FROM (
				 SELECT ROW_NUMBER() OVER (PARTITION BY STATUS ORDER BY B.BOARD_IDX DESC) RN,
						B.*,
						M.NAME,
						M.POSITION,
						NVL(C.CMT_COUNT, 0) AS CMT_COUNT
				 FROM BOARD B
						  INNER JOIN MEMBER M ON B.MEMBER_ID = M.ID
						  LEFT JOIN
					  (SELECT COUNT(CMT_IDX) AS CMT_COUNT, BOARD_IDX FROM COMMENTS GROUP BY BOARD_IDX) C
					  ON C.BOARD_IDX = B.BOARD_IDX
			 )
		WHERE RN &lt; 5
		ORDER BY STATUS
	</select>
	
</mapper>