<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitwork.company.vo.CompanyMapper">
    <select id="findByName" parameterType="string" resultType="com.bitwork.company.vo.CompanyVO">
        SELECT COMPANY_IDX, COMPANY_NAME, COMPANY_PHONE, COMPANY_EMAIL, COMPANY_EMP_CNT
        FROM COMPANY
        WHERE COMPANY_NAME LIKE  '%' || #{companyName} || '%'
    </select>

    <select id="findById" resultType="com.bitwork.company.vo.CompanyVO">
        SELECT COMPANY_IDX, COMPANY_NAME, COMPANY_PHONE, COMPANY_EMAIL, COMPANY_EMP_CNT
        FROM COMPANY
        WHERE COMPANY_IDX = #{companyIdx}
    </select>

    <insert id="addCompany" parameterType="com.bitwork.company.dto.MakeCompanyForm">
        INSERT INTO COMPANY(COMPANY_IDX, COMPANY_NAME, COMPANY_PHONE, COMPANY_EMAIL)
        VALUES (COMPANY_SEQ.nextval, #{companyName}, #{companyPhone}, #{companyEmail})
    </insert>

    <select id="currval" resultType="int">
        SELECT COMPANY_SEQ.currval FROM DUAL
    </select>

    <update id="upEmpCnt" parameterType="map">
        UPDATE COMPANY
        SET COMPANY_EMP_CNT = #{empCnt}
        WHERE COMPANY_IDX = #{companyIdx}
    </update>
</mapper>