<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitwork.member.vo.MemberMapper">
    <select id="findById" resultType="com.bitwork.member.vo.MemberVO" parameterType="string">
        SELECT ID,
               PW,
               NAME,
               PHONE,
               EMAIL,
               POSITION,
               REGDATE,
               COMPANY_IDX,
               JOINDATE,
               GRADE,
               FILE_NAME,
               ORI_NAME
        FROM MEMBER
        WHERE ID = #{id}
    </select>

    <delete id="deleteMember" parameterType="map">
        DELETE
        FROM MEMBER
        WHERE ID = #{id}
          AND PW = #{pw}
    </delete>

    <insert id="addMember" parameterType="com.bitwork.member.dto.JoinForm">
        INSERT INTO MEMBER(ID, PW, NAME, PHONE, EMAIL, POSITION, REGDATE, COMPANY_IDX, JOINDATE, GRADE, FILE_NAME,
                           ORI_NAME)
        VALUES (#{id}, #{pw}, #{name}, #{phone}, #{email}, #{position}, SYSDATE, null, null, 0, #{fileName}, #{oriName})
    </insert>

    <update id="updateMemberInfo" parameterType="com.bitwork.member.dto.JoinForm">
        UPDATE MEMBER
        SET PW        = #{pw},
            NAME      = #{name},
            EMAIL     = #{email},
            POSITION  = #{position},
            FILE_NAME = #{fileName},
            ORI_NAME  = #{oriName}
        WHERE ID = #{id}
    </update>
</mapper>