<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitwork.member.vo.MemberMapper">
    <select id="findById" resultType="com.bitwork.member.vo.MemberVO" parameterType="string">
        SELECT ID, PW, NAME, PICTURE, PHONE, EMAIL, POSITION, REGDATE, COMPANY_IDX, JOINDATE, GRADE
        FROM MEMBER
        WHERE ID = #{id}
    </select>

</mapper>