<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitwork.sign.vo.SignMapper">

    <select id="totalRow" parameterType="map" resultType="int">
        SELECT COUNT(DOC_NO) FROM SIGN
        <where>
            <if test="docStatus != null and docStatus.length() > 0">
                AND DOC_STATUS = #{docStatus}
            </if>
            <if test="grade == 3">
                AND MEMBER_ID = #{id}
            </if>
        </where>
    </select>

    <select id="findByMap" parameterType="map" resultType="com.bitwork.sign.vo.SignVO">
        SELECT DOC_NO,
               DOC_TITLE,
               MEMBER_ID,
               INSERT_DATE,
               SIGN_DATE,
               DOC_STATUS,
               DOC_CONTENT,
               FILE_NAME,
               ORI_NAME,
               USER_READ,
               BOSS_READ
        FROM (
                 SELECT ROW_NUMBER() over (ORDER BY DOC_NO DESC) AS RN, S.*
                 FROM SIGN S
                <where>
                    <if test="docStatus != null and docStatus.length() > 0">
                        AND DOC_STATUS = #{docStatus}
                    </if>
                    <if test="grade == 3">
                        AND MEMBER_ID = #{id}
                    </if>
                </where>
             )
        WHERE RN BETWEEN #{startRow} and #{endRow}
    </select>

    <insert id="insertDocument" parameterType="com.bitwork.sign.vo.SignWriteForm">
        INSERT INTO SIGN(DOC_NO, DOC_TITLE, MEMBER_ID, WRITER_NAME, DOC_CONTENT, FILE_NAME, ORI_NAME)
        VALUES (SIGN_SEQ.nextval, #{docTitle}, #{memberId}, #{writerName}, #{docContent}, #{fileName}, #{oriName})
    </insert>

    <select id="findByDocNo" resultType="com.bitwork.sign.vo.SignVO">
        SELECT DOC_NO,
               DOC_TITLE,
               MEMBER_ID,
               INSERT_DATE,
               SIGN_DATE,
               DOC_STATUS,
               DOC_CONTENT,
               FILE_NAME,
               ORI_NAME,
               USER_READ,
               BOSS_READ,
               WRITER_NAME
        FROM SIGN
        WHERE DOC_NO = #{docNo}
    </select>

    <update id="updateSign" parameterType="map">
        UPDATE SIGN
        SET DOC_STATUS = #{sign}
        WHERE DOC_NO = #{docNo}
    </update>
</mapper>