.wrap {
	display: flex;
	flex-direction: column;
	
	padding-top: 30px;
}
.content-bg {
	background-color: white;
	border-radius: 10px;
	padding: 60px 100px;
	border: 1px solid #e0e4e7;
	width: 100%;
	position: relative;
	min-width: 700px;
}

.subject {
	margin-bottom: 10px;
}

.name {
	margin-top: 25px;
}

.btn-wrap {
	position: absolute;
	top: 20px;
	right: 100px;
}
.update-btn, .delete-btn {
 	border: none;
	background-color: silver; 
    font-weight: bold;
    color: white;
    font-size: 15px;
    width: 50px;
    height: 27px;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    margin-top: 40px;
    cursor: pointer;
    margin-left: 10px;
}

.hit-date {
	display: flex;
	position: absolute;
    top: 105px;
    right: 100px;
    font-size: 16px;
}

.hit {
	margin-left: 5px;
	margin-right: 35px;
	color: #00add0;
	top: 5px;
}

hr {
	margin: 15px 0 25px 0;
	background-color: #d3dbe2; height: 1px; border: 0;
}

.content {
	font-family: 'Noto Sans KR', sans-serif;
	line-height: 23px;
}

.file-wrap {
	display: flex;
	margin-top: 25px;
}

.file i { 
	color: #39485d;
	margin: 3px 10px 0 0;
}

.btn-wrap {
	/* align-self: flex-end; */
	display: flex;
	text-decoration: none;
}

.list-btn {
	border: none;
	background-color: #00add0; 
    font-weight: 800;
    color: white;
    font-size: 15px;
    width: 90px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    margin: 20px auto;
    cursor: pointer;
    
}

.update-btn:hover {
	background-color: #ff9c00;
	transition: all 0.3s ease;
}

.cmt-wrap {
	margin: 0 auto;
	margin-top: 10px;
}

.comment h4 {
	margin-bottom: 10px;
}

.comment h4 i {
	color: gray;
}

.comment textarea {
	width: 500px;
	height: 80px;
	border-radius: 5px;
	border: 1px solid #98a2af;
	padding: 5px;
}

.cmt-btn {
	height: 80px;
	background-color: #39485d;
	color: white;
	width: 80px;
	border-radius: 5px;
	border: none;
	margin-left: 15px;
	position: relative;
    top: -33px;
    font-size: 15px;
    cursor: pointer;
}

p b {
	color: #00add0;
}

.cmt-text {
	margin-bottom: -10px;
}

.remove-cmt {
	margin-right: 10px;
	color: white;
	height: 20px;
	padding: 2px 4px;
	background-color: silver;
	border-radius: 5px;
	border: none;
	position: relative;
	top: -63px;
	left: 580px;
}

.cmt-date {
	font-size: 15px;
	position: relative;
	top: -28px;
	left: 120px;
	color: gray;
}



