
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}


main {
	box-sizing: border-box;
	padding: 100px; 
	display: inline-block;
	width: 100vh;
	height: 100%;
	background-color: AliceBlue;
	overflow: auto;
	position: relative;
}

.paging {
	list-style: none;
}

.paging li {
	float: left;
	margin-right: 8px;
}

.paging li a {
	text-decoration: none;
	display: block;
	padding: 3px 7px;
	border: 1px solid #7562ca;
	font-weight: bold;
	color: black;
}

.paging .disable {
	border: 1px solid silver;
	padding: 3px 7px;
	color: silver;
}

.paging .now {
	border: 1px solid #7562ca;
	padding: 3px 7px;
	background-color: #7562ca;
	color: white;
}

.paging li a:hover {
	background-color: #00B3DC;
	color: white;
}
