.wrap {
	display: flex;
인사관리
게시판
전자결재
주소록
근태관리
	flex-direction: column;
	align-items: center;
}

.search-form {
	align-self: flex-end;
	margin: 40px 0 20px 0;
}

.search-option {
	border: 1px solid #e0e4e7;
	border-radius: 50px;
	height: 30px;
	width: 80px;
	padding-left: 8px;
	color: #39485d;
	font-size: 15px;
	line-height: 3px;
	font-weight: 800;
}

.search-bar {
	width: 300px;
	height: 30px;
	border-radius: 50px;
	border: 1px solid #e0e4e7;
	padding-left: 13px;
}
.search-button {
	background-color: #00add0;
	height: 28px;
	width: 28px;
	border-radius: 50px;
	border: none;
	color: white;
	margin-left: 5px;
}

.search-button:hover {
	background-color: #ff9c00;
	transition: all 0.3s ease;
	curser: pointer;
}

table {
	border-collapse: collapse;
	width: 100%;
}

#thead tr th {
	padding-bottom: 10px;
}

#tbody {
	background-color: white;
	text-align: center;
}

#tbody .subject {
	text-align: left;
}

#tbody a {
	text-decoration: none;
	color: #1b222c;
}	

#tbody .subject b {
	color: #00add0;
	font-weight: 800;
	font-size: 15px;
}


#tbody tr:hover {
	background-color: #f2f5f7;
}

#tbody tr td{
	padding: 10px;
}

#tfoot {
	background-color: white;
}

#tfoot td {
	height: 70px;
	
}

.paging {
	padding-top: 23px;
	font-family: 'Quicksand', sans-serif;
	list-style: none;
	width: 100%;
    height: 75px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.paging li a {
	text-decoration: none;
	font-weight: bold;
	color: black;
	padding: 0 10px;
}

.paging .disable {
	color: silver;
	padding: 0 10px;
}

.paging .now {
	color: #00add0;
	font-weight: bold;
	padding: 0 10px;
	border-bottom: 2px soild #00B3DC;
}

.paging li a:hover {
	color: #ff9c00;
}

.paging li a, .paging li a:before {
	-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
}

.write-btn {
	background-color: #00add0; 
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding: 5px 18px 8px 18px;
	border-radius: 5px;
	margin-top: 20px;
	font-family: 'Quicksand', sans-serif;
	align-self: flex-end;
}

.write-btn:hover {
	background-color: #ff9c00;
	transition: all 0.3s ease;
}
