.nav-menu li {
	position: relative;
}

.nav-menu a {
	text-decoration: none;
}

.sub-menu {
	display: none;
	left: 0;
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 40px;
	background-color: #FEFEFE;
	color: black;
}

.sub-menu li {
	width: 80px;
}

.show {
	display: flex;
	justify-content: flex-start;
}

