html,
body {
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
}

nav {
    height: 70px;
    background-color: #5ab194;
}

aside {
    width: 250px;
    /*height: calc(100% - 70px);*/
    height: 530px;
    background-color: #313131;
}

