.table {
    --table-border-radius: 5px;
    width: 100%;
    border-radius: var(--table-border-radius);
    border-collapse: collapse;
    background-color: #FFFFFF;
    text-align: center;
}

.thead {
    background-color: #39485D;
    user-select: none;
}

.thead th:first-child {
    border-radius: var(--table-border-radius) 0 0 0;
}

.thead th:last-child {
    border-radius: 0 var(--table-border-radius) 0 0;
}

.table th,
.table td {
    padding: 10px;
}

.table th {
    color: #E0E0E0;
}

.table tr:not(:last-of-type) {
    border-bottom: 1px solid #d0cece;
}